[Unit]
Description=DNS Proxy Service
Documentation=https://github.com/9bingyin/Fast-DoH
After=network.target
Wants=
Requires=

[Service]
ExecStart=/usr/bin/dnsproxy -l 127.0.0.1 -p 53 -u https://expname.cloudflare-gateway.com/dns-query -b 208.67.222.2
ExecStop=
ExecReload=/usr/bin/dnsproxy -l 127.0.0.1 -p 53 -u https://expname.cloudflare-gateway.com/dns-query -b 208.67.222.2
Type=simple

[Install]
WantedBy=multi-user.target
